<div class="d-flex justify-content-between mt-4">
  <div class="float-right p-0">
    <a href="/admin/order/list">
      <button class="btn btn-primary">Back to Order Table</button>
    </a>
  </div>
</div>

<% if (successMessage && successMessage.length > 0) { %>
<div class="alert alert-success mt-3" role="alert"><%= successMessage %></div>
<% } %>

<!-- Display error message if available -->
<% if (errorMessage && errorMessage.length > 0) { %>
<div class="alert alert-danger mt-3" role="alert"><%= errorMessage %></div>
<% } %>

<table class="table table-bordered table-responsive mt-2">
  <thead class="">
    <tr>
      <th scope="col">Sl. No.</th>
      <th scope="col">Product Name</th>
      <th scope="col">Description</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody id="serviceTableBody">
    <% let count=1 %> <% if(orders.productDetails.length>0){ %> <% for(let item
    of orders.productDetails){ %>
    <tr>
      <th scope="row"><%= count++ %></th>

      <td><%= item.title %></td>
      <td><%= item.description.slice(0,25) %></td>
      <td>
        <img src="/backend/<%= item.image[0] %>" alt="img" />
      </td>
    </tr>
    <% } %> <% }else{ %>
    <td colspan="5">
      <h3 class="text-center">No Products Found</h3>
    </td>
    <% } %>
  </tbody>
</table>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const searchInput = document.getElementById("searchInput");
    const userTableBody = document.getElementById("serviceTableBody");

    searchInput.addEventListener("keyup", function () {
      const searchTerm = this.value.toLowerCase();
      const rows = userTableBody.getElementsByTagName("tr");

      for (let row of rows) {
        const slno = row.cells[0].textContent.toLowerCase();
        const title = row.cells[1].textContent.toLowerCase();
        const description = row.cells[2].textContent.toLowerCase();
        const category = row.cells[3].textContent.toLowerCase();
        const price = row.cells[4].textContent.toLowerCase();
        const stock = row.cells[5].textContent.toLowerCase();

        if (
          title.includes(searchTerm) ||
          description.includes(searchTerm) ||
          category.includes(searchTerm) ||
          price.includes(searchTerm) ||
          stock.includes(searchTerm)
        ) {
          row.style.display = "";
        } else {
          row.style.display = "none";
        }
      }
    });
  });
</script>
